.mutualFund {
    width: 250px;
    height: 250px;
    border-radius: 7px;
    border: 0.1px solid rgb(211, 209, 209);
    /* background-color: rgb(194, 180, 180); */
    padding: 14px;
    box-shadow: 1px 1px 1px 1px rgb(228, 227, 227);
    margin: 1rem;
    margin-left: 0;
    cursor: pointer;
}

.product__logo {
    width: 30px;
    height: 30px;
    padding: 4px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    margin-bottom: 5px;
}

.product__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product__title {
    font-weight: 500;
    margin: 2px;
}
.mutualFund__type {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
    margin-bottom: 25px;
}

.product__footer {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    font-weight: 500;
}

.product__footer p:last-child {
    color: #00d09c;
}
    