
.modal-container{
    display: flex ;
    flex-direction: row ;
}
.div-left{
    height: 370px;
    width: 400px;
    padding-top: 50px ;
    padding-left: 25px;
    background-image: url(https://assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/patternImg.0edf5760.svg);
}
.div-left h2{
  color: white !important;
}
.icon{
    padding-left: 375px;
    padding-top: 7px;
    padding-right: 7px;
}
.close-icon:hover{
    cursor: pointer;
}
.div-right p{
    font-size: xx-large;
    padding-left: 23px;
    padding-top: 50px;

}

.buttongoogle {
    cursor: pointer;
    display: block;
    font-size: 1em;
    box-sizing: content-box;
    margin-left: 25px !important;
    margin-top: 65px;
    width: 80%;
    padding: 10px 15px;
    border-radius: 10px;
    border-color:rgb(219, 205, 205);
    background-color: rgb(255, 255, 255) !important; 
  
    color: #000 !important;
    box-shadow: 0px 16px 60px rgba(78, 79, 114, 0.08);
    position: relative;
    
  }
  .buttongoogle:hover {
    box-shadow: rgba(209, 209, 223, 0.25) 0px 30px 60px -12px inset,
    rgba(180, 173, 173, 0.3) 0px 18px 36px -18px inset;
  }
  .buttongText {
    
    color: black;
    font-weight:lighter;
  }
  
  .icong {
    height: 25px;
    width: 23px;
    left: 25px;
    position: absolute;
    align-items: center;
  }
  .terms{
    font-size: 15px !important;
    margin-top: 6em !important;
    
  }
  .newLogin{
    padding-left: 53px !important;
    padding-top: 65px !important;
    /* background-color: aqua; */
}