
.react-chatbot-kit-chat-container {
    
    position: fixed; 
    /* bottom: 6vw; left: 65vw; */
    right: 35px;bottom: 100px;
     width: 20.0em; 
    min-width: 395px;
}

.react-chatbot-kit-chat-inner-container {
       background-color: rgb(169, 231, 107); 
   /*  background-color: rgb(205, 241, 150); */
}

.react-chatbot-kit-chat-header {
    
    background-color: rgb(255, 179, 58);
    color: black;
}

.react-chatbot-kit-chat-input-container {
    
    right: -0.57em ;
    bottom: -0.73em;
    
    width: 21.05em; 
    min-width: 415px;
}
.react-chatbot-kit-chat-bot-message {
     /* left: -4.7em; */ 
     background-color: white;
     color: black;
     right :90px ;
     
 }

.react-chatbot-kit-chat-input {
   
    background-color: rgb(251, 237, 237);
    /* cursor: not-allowed !important;
     pointer-events: none ;  */
}

.react-chatbot-kit-chat-btn-send {
    
    width: 3vw;
    
    border-radius: 4px;
    /* pointer-events: none;
    cursor: not-allowed !important;  */
    min-width: 3vw;
}
.react-chatbot-kit-chat-bot-avatar-container {
    
    background-color: rgb(63, 109, 235);
    
}
.react-chatbot-kit-chat-bot-avatar-letter {
    
    color: gold;
}

.growwLogo{
    width: 42px !important;
    height: 43px !important;
}

.react-chatbot-kit-chat-bot-loading-icon-container {
    
    background-color: rgb(200, 190, 190);
}

.chatbot-loader-container {
    background-color: rgb(200, 190, 190);
    
}
#chatbot-loader #chatbot-loader-dot1 {

    background-color: blue;
}

#chatbot-loader #chatbot-loader-dot2 {
    
    background-color: green;
}

#chatbot-loader #chatbot-loader-dot3 {
   
    background-color: yellow;
}

@media only screen and (max-width:1000px){
    .react-chatbot-kit-chat-btn-send {
    
        width: 6vw;
        
        border-radius: 4px;
        /* pointer-events: none;
        cursor: not-allowed !important;  */
    }
}
@media only screen and (max-width:600px){
    .react-chatbot-kit-chat-btn-send {
    
        width: 12vw;
        
        border-radius: 4px;
        /* pointer-events: none;
        cursor: not-allowed !important;  */
    }
}

/* .react-chatbot-kit-chat-bot-message-arrow {
    
} */
/* .react-chatbot-kit-chat-input-form {
   
}

.react-chatbot-kit-chat-input::placeholder {
   
}

.react-chatbot-kit-chat-btn-send-icon {
   
    
}

.react-chatbot-kit-chat-bot-message-container {
    
   
}


.react-chatbot-kit-chat-bot-avatar-icon {
   
    
}


.react-chatbot-kit-error {
    

}

.react-chatbot-kit-error-container {
    

}

.react-chatbot-kit-error-header {
   
}

.react-chatbot-kit-error-docs {
    
}

.react-chatbot-kit-chat-message-container {
    
} */