
.react-chatbot-kit-chat-container {
    position: fixed; 
    /* bottom: 6vw; left: 65vw; */
    right: 35px;bottom: 100px;
    width: 19.5em;
}

.react-chatbot-kit-chat-inner-container {
     background-color: rgb(169, 231, 107); 
   /*  background-color: rgb(205, 241, 150); */
}

.react-chatbot-kit-chat-header {
    min-width: 0;
    background-color: rgb(255, 179, 58);
    color: black;
}

.react-chatbot-kit-chat-input-container {
    right: -0.5em;
    bottom: -0.8em;
    width: 20.5em;
    
}

.react-chatbot-kit-chat-message-container {
    min-width: 0; 
    
}

.react-chatbot-kit-chat-input {
    min-width: 0;
    background-color: rgb(251, 237, 237);
   
    /* cursor: not-allowed !important;
     pointer-events: none ;  */
}

.react-chatbot-kit-chat-input-form {
    min-width: 0;

}

.react-chatbot-kit-chat-input::placeholder {
    min-width: 0;
    
}

.react-chatbot-kit-chat-btn-send {
    min-width: 0;
    
    width: 3vw;
    border-radius: 4px;
    /* pointer-events: none;
    cursor: not-allowed !important;  */
}

.react-chatbot-kit-chat-btn-send-icon {
    min-width: 0;
    
}

.react-chatbot-kit-chat-bot-message-container {
    min-width: 0;
    
}

.react-chatbot-kit-chat-bot-avatar-container {
    min-width: 0;
    background-color: rgb(63, 109, 235);
}

.react-chatbot-kit-chat-bot-avatar-icon {
    min-width: 0;
    
}

.react-chatbot-kit-chat-bot-avatar-letter {
    min-width: 0;
    color: gold;
}

.react-chatbot-kit-chat-bot-message {
    left: -4.7em;
    background-color: white;
    color: black;
}

.react-chatbot-kit-chat-bot-message-arrow {
    min-width: 0;
   
}

.react-chatbot-kit-chat-bot-loading-icon-container {
    min-width: 0;
    
}

.chatbot-loader-container {
    min-width: 0;
    
}

#chatbot-loader #chatbot-loader-dot1 {
    min-width: 0;

}

#chatbot-loader #chatbot-loader-dot2 {
    min-width: 0;

}

#chatbot-loader #chatbot-loader-dot3 {
    min-width: 0;

}

.react-chatbot-kit-error {
    min-width: 0;

}

.react-chatbot-kit-error-container {
    min-width: 0;

}

.react-chatbot-kit-error-header {
    min-width: 0;

}

.react-chatbot-kit-error-docs {
    min-width: 0;

}
.growwLogo{
    width: 42px !important;
    height: 43px !important;
    
}