.form-container{
    background-color: white;
    padding-left: 10px;
    height: 250px;
}
.input-container{
    padding-bottom: 15px !important;
}
.submit-button{
    padding-top: 5px;
    background-color: rgb(221, 86, 74) !important;
}
.success{
    height:60px;
    padding-left: 20px;
    padding-top: 10px;
    background-color: antiquewhite;
    
}
.success-icon{
    padding-left: 40%;
}