.form-container{
    background-color: white;
    padding-left: 10px;
    height: 250px;
}
.input-container{
    padding-bottom: 15px !important;
}
.submit-button{
    padding-top: 5px;
    background-color: rgb(195, 67, 56) !important;
}
.success{
    height:35px;
    padding-left: 20px;
    padding-top: 15px;
    background-color: antiquewhite;
}